<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="title">
      <h2>Pages</h2>
    </div>

    <% begin %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

        <% if @page.errors.any? %>
        <div class="error_explanation">
          <h3><%= @page.errors.count %>件のエラーがあります。</h3>
          <ul>
            <% @page.errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% rescue %>
    <% end %>

    <div class="url_form">
      <%= form_for(@page) do |f| %>
        <%= f.text_field :url, class: "form-control" %>
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
      <br />
    </div>

    <div class="urls row">
      <% @pages.each do |page| %>
        <div class="url col-md-12">
          <%= link_to page.url %>
          <div class="delete-button">
            <%= link_to "", page_path(page.id), class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: "本当に削除してよろしいですか？"} %>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</div>
