<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <% if @page.errors.any? %>
      <div class="error_explanation">
        <h3><%= review.errors.count %>件のエラーがあります。</h3>
        <ul>
          <% review.errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="url_form">
      <%= form_for(@page) do |f| %>
        <%= f.text_field :url, class: "form-control" %>
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
      <br />
    </div>

    <% @pages.each do |page| %>
      <div class="urls">
        <%= link_to page.url %>
      <div>
    <% end %>
  </div>
</div>
